# Documentation only.
# Do NOT put real Secret values in this file.
#
# The kk-payments Secret must be created imperatively:
#
# kubectl create secret generic kk-payments-secrets \
#   --from-literal=DB_PASSWORD=<value-from-team> \
#   --from-literal=STRIPE_API_KEY=<value-from-team> \
#   --from-literal=JWT_SECRET=<value-from-team> \
#   -n kijani-project
#
# Expected Secret:
#   name: kk-payments-secrets
#   namespace: kijani-project
#
# Expected keys:
#   DB_PASSWORD
#   STRIPE_API_KEY
#   JWT_SECRET
